<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<bean id="q" class="com.InnerExample.Question">
<constructor-arg value="11"></constructor-arg>
<constructor-arg value="What is Java"></constructor-arg>
<constructor-arg>
<map>
<entry key="Java is a Programming language" value="Ajay"></entry>
<entry key="Java is a Platform Independent" value="Smith"></entry>
<entry key="Java is an Island" value="Raj"></entry>
</map></constructor-arg>
</bean>
</beans>